In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('data_evaluacion.csv', header=None)

In [ ]:
# Definir las etiquetas
column_names = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num',
    'marital-status', 'occupation', 'relationship', 'race', 'sex',
    'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'
]

# Asignar las etiquetas al dataframe sin eliminar la primera fila de datos
data.columns = column_names

In [ ]:
print(data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week        country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  country         48842 non-null  object
 14  salary          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [ ]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
data.isna().sum().sort_values()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
country           0
salary            0
dtype: int64

In [ ]:
#Revision de valores unicos en las columnas categoricas
colum_cat = data.select_dtypes(include=['object']).columns
unique_values = {col: data[col].unique() for col in colum_cat}

unique_values

{'workclass': array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
        'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
       dtype=object),
 'education': array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
        'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
        '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object),
 'marital-status': array(['Never-married', 'Married-civ-spouse', 'Divorced',
        'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
        'Widowed'], dtype=object),
 'occupation': array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
        'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
        'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
        'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
        'Priv-house-serv'], dtype=object),
 'relationship': array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
        'Other-relative'], dtype=object),
 'race': array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
        'Other'], dtype=object),
 'sex': array(['Male', 'Female'], dtype=object),
 'country': array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
        'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
        'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
        'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
        'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
        'China', 'Japan', 'Yugoslavia', 'Peru',
        'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
        'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
        'Holand-Netherlands'], dtype=object),
 'salary': array(['<=50K', '>50K'], dtype=object)}

In [ ]:
#Remplazar valores faltantes '?' con NaN
data.replace(' ?', pd.NA,inplace=True)

In [ ]:
#Cargar los valores faltantes con la moda de cada columna
for col in ['workclass', 'occupation', 'country']:
    mode_value = data[col].mode()
    if not mode_value.empty:
        data[col] = data[col].fillna(mode_value[0])
    else:
        print(f"No hay valores válidos en la columna: {col}")

In [ ]:
data.isnull().sum().sort_values()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
country           0
salary            0
dtype: int64

In [ ]:
print(data['workclass'].unique())
print(data['occupation'].unique())
print(data['country'].unique())

['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']

In [ ]:
# Codificación de variables categóricas
categorical_cols = data.select_dtypes(include=['object']).columns.difference(['salary'])

In [ ]:
#Crear el codificador OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse_output=False)

#Aplicar la codificacion a las columnas categoricas
encoded_data = pd.DataFrame(encoder.fit_transform(data[categorical_cols]), columns=encoder.get_feature_names_out(categorical_cols))

In [ ]:
#Codificamos de la variable objetivo
label_encoder = LabelEncoder()
data['salary'] = label_encoder.fit_transform(data['salary'])

In [ ]:
#Unir las columnas codificadas con las numericas
data = data.drop(categorical_cols, axis=1)
data = pd.concat([data, encoded_data], axis=1)

In [ ]:
data.head(25)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,country_Cambodia,country_Canada,country_China,...,relationship_Wife,sex_Male,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39,77516,13,2174,0,40,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,50,83311,13,0,0,13,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,38,215646,9,0,0,40,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,53,234721,7,0,0,40,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,28,338409,13,0,0,40,0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,37,284582,14,0,0,40,0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,49,160187,5,0,0,16,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,52,209642,9,0,0,45,1,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,31,45781,14,14084,0,50,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,42,159449,13,5178,0,40,1,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,37,280464,10,0,0,80,1,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,30,141297,13,0,0,40,1,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,23,122272,13,0,0,30,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,32,205019,12,0,0,50,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,40,121772,11,0,0,40,1,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,34,245487,4,0,0,45,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,25,176756,9,0,0,35,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17,32,186824,9,0,0,40,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,38,28887,7,0,0,50,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,43,292175,14,0,0,45,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
20,40,193524,16,0,0,60,1,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
21,54,302146,9,0,0,20,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22,35,76845,5,0,0,40,0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,43,117037,7,0,2042,40,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,59,109015,9,0,0,40,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
#Dividir el dataset en caracteristicas de entrenamiento y objetivo
X = data.drop('salary', axis=1)
y = data['salary']

In [ ]:
#Dividir el dataset en entrenamiento y prueba

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Escalar los datos
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# Construir el modelo
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compilar el modelo
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Entrenar el modelo
model.fit(X_train, y_train, epochs=150, batch_size=32, validation_split=0.2)

Epoch 1/150
855/855 [==============================] - 8s 8ms/step - loss: 0.3974 - accuracy: 0.8154 - val_loss: 0.3330 - val_accuracy: 0.8462
Epoch 2/150
855/855 [==============================] - 3s 4ms/step - loss: 0.3484 - accuracy: 0.8412 - val_loss: 0.3223 - val_accuracy: 0.8551
Epoch 3/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3326 - accuracy: 0.8497 - val_loss: 0.3205 - val_accuracy: 0.8558
Epoch 4/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3261 - accuracy: 0.8496 - val_loss: 0.3180 - val_accuracy: 0.8568
Epoch 5/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3229 - accuracy: 0.8516 - val_loss: 0.3155 - val_accuracy: 0.8560
Epoch 6/150
855/855 [==============================] - 3s 4ms/step - loss: 0.3179 - accuracy: 0.8532 - val_loss: 0.3127 - val_accuracy: 0.8557
Epoch 7/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3153 - accuracy: 0.8534 - val_loss: 0.3148 - val_accuracy: 0.8562
Epoch 8/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3132 - accuracy: 0.8550 - val_loss: 0.3118 - val_accuracy: 0.8571
Epoch 9/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3126 - accuracy: 0.8551 - val_loss: 0.3143 - val_accuracy: 0.8577
Epoch 10/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3119 - accuracy: 0.8559 - val_loss: 0.3141 - val_accuracy: 0.8589
Epoch 11/150
855/855 [==============================] - 3s 3ms/step - loss: 0.3116 - accuracy: 0.8563 - val_loss: 0.3151 - val_accuracy: 0.8565
Epoch 12/150
855/855 [==============================] - 3s 4ms/step - loss: 0.3071 - accuracy: 0.8585 - val_loss: 0.3137 - val_accuracy: 0.8589
Epoch 13/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3079 - accuracy: 0.8584 - val_loss: 0.3120 - val_accuracy: 0.8608
Epoch 14/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3049 - accuracy: 0.8566 - val_loss: 0.3122 - val_accuracy: 0.8584
Epoch 15/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3041 - accuracy: 0.8592 - val_loss: 0.3141 - val_accuracy: 0.8614
Epoch 16/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3054 - accuracy: 0.8596 - val_loss: 0.3139 - val_accuracy: 0.8614
Epoch 17/150
855/855 [==============================] - 3s 4ms/step - loss: 0.3062 - accuracy: 0.8591 - val_loss: 0.3145 - val_accuracy: 0.8586
Epoch 18/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3031 - accuracy: 0.8590 - val_loss: 0.3136 - val_accuracy: 0.8592
Epoch 19/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3014 - accuracy: 0.8602 - val_loss: 0.3156 - val_accuracy: 0.8598
Epoch 20/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3017 - accuracy: 0.8602 - val_loss: 0.3162 - val_accuracy: 0.8596
Epoch 21/150
855/855 [==============================] - 2s 3ms/step - loss: 0.3017 - accuracy: 0.8618 - val_loss: 0.3158 - val_accuracy: 0.8605
Epoch 22/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2998 - accuracy: 0.8611 - val_loss: 0.3154 - val_accuracy: 0.8590
Epoch 23/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2998 - accuracy: 0.8616 - val_loss: 0.3141 - val_accuracy: 0.8617
Epoch 24/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2996 - accuracy: 0.8625 - val_loss: 0.3150 - val_accuracy: 0.8618
Epoch 25/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2965 - accuracy: 0.8622 - val_loss: 0.3142 - val_accuracy: 0.8605
Epoch 26/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2983 - accuracy: 0.8631 - val_loss: 0.3161 - val_accuracy: 0.8581
Epoch 27/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2958 - accuracy: 0.8646 - val_loss: 0.3169 - val_accuracy: 0.8587
Epoch 28/150
855/855 [==============================] - 4s 4ms/step - loss: 0.2952 - accuracy: 0.8658 - val_loss: 0.3152 - val_accuracy: 0.8605
Epoch 29/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2954 - accuracy: 0.8619 - val_loss: 0.3147 - val_accuracy: 0.8573
Epoch 30/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2955 - accuracy: 0.8639 - val_loss: 0.3187 - val_accuracy: 0.8570
Epoch 31/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2950 - accuracy: 0.8633 - val_loss: 0.3155 - val_accuracy: 0.8564
Epoch 32/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2950 - accuracy: 0.8644 - val_loss: 0.3187 - val_accuracy: 0.8587
Epoch 33/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2955 - accuracy: 0.8651 - val_loss: 0.3173 - val_accuracy: 0.8580
Epoch 34/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2911 - accuracy: 0.8645 - val_loss: 0.3168 - val_accuracy: 0.8577
Epoch 35/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2944 - accuracy: 0.8641 - val_loss: 0.3173 - val_accuracy: 0.8580
Epoch 36/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2911 - accuracy: 0.8670 - val_loss: 0.3161 - val_accuracy: 0.8581
Epoch 37/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2925 - accuracy: 0.8653 - val_loss: 0.3183 - val_accuracy: 0.8583
Epoch 38/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2907 - accuracy: 0.8670 - val_loss: 0.3187 - val_accuracy: 0.8592
Epoch 39/150
855/855 [==============================] - 4s 4ms/step - loss: 0.2914 - accuracy: 0.8667 - val_loss: 0.3183 - val_accuracy: 0.8589
Epoch 40/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2926 - accuracy: 0.8655 - val_loss: 0.3181 - val_accuracy: 0.8573
Epoch 41/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2915 - accuracy: 0.8662 - val_loss: 0.3187 - val_accuracy: 0.8580
Epoch 42/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2902 - accuracy: 0.8675 - val_loss: 0.3185 - val_accuracy: 0.8581
Epoch 43/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2895 - accuracy: 0.8665 - val_loss: 0.3245 - val_accuracy: 0.8586
Epoch 44/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2914 - accuracy: 0.8663 - val_loss: 0.3194 - val_accuracy: 0.8564
Epoch 45/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2893 - accuracy: 0.8678 - val_loss: 0.3207 - val_accuracy: 0.8592
Epoch 46/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2884 - accuracy: 0.8682 - val_loss: 0.3206 - val_accuracy: 0.8576
Epoch 47/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2891 - accuracy: 0.8686 - val_loss: 0.3191 - val_accuracy: 0.8571
Epoch 48/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2883 - accuracy: 0.8673 - val_loss: 0.3224 - val_accuracy: 0.8549
Epoch 49/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2879 - accuracy: 0.8690 - val_loss: 0.3227 - val_accuracy: 0.8565
Epoch 50/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2873 - accuracy: 0.8673 - val_loss: 0.3245 - val_accuracy: 0.8546
Epoch 51/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2865 - accuracy: 0.8689 - val_loss: 0.3236 - val_accuracy: 0.8571
Epoch 52/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2857 - accuracy: 0.8677 - val_loss: 0.3250 - val_accuracy: 0.8567
Epoch 53/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2861 - accuracy: 0.8680 - val_loss: 0.3238 - val_accuracy: 0.8570
Epoch 54/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2866 - accuracy: 0.8683 - val_loss: 0.3284 - val_accuracy: 0.8579
Epoch 55/150
855/855 [==============================] - 4s 4ms/step - loss: 0.2858 - accuracy: 0.8705 - val_loss: 0.3248 - val_accuracy: 0.8573
Epoch 56/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2855 - accuracy: 0.8697 - val_loss: 0.3258 - val_accuracy: 0.8579
Epoch 57/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2855 - accuracy: 0.8696 - val_loss: 0.3222 - val_accuracy: 0.8561
Epoch 58/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2857 - accuracy: 0.8693 - val_loss: 0.3237 - val_accuracy: 0.8561
Epoch 59/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2847 - accuracy: 0.8685 - val_loss: 0.3276 - val_accuracy: 0.8573
Epoch 60/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2849 - accuracy: 0.8712 - val_loss: 0.3267 - val_accuracy: 0.8564
Epoch 61/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2841 - accuracy: 0.8695 - val_loss: 0.3252 - val_accuracy: 0.8583
Epoch 62/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2848 - accuracy: 0.8691 - val_loss: 0.3254 - val_accuracy: 0.8583
Epoch 63/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2854 - accuracy: 0.8685 - val_loss: 0.3270 - val_accuracy: 0.8577
Epoch 64/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2825 - accuracy: 0.8699 - val_loss: 0.3281 - val_accuracy: 0.8576
Epoch 65/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2846 - accuracy: 0.8705 - val_loss: 0.3285 - val_accuracy: 0.8570
Epoch 66/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2837 - accuracy: 0.8699 - val_loss: 0.3302 - val_accuracy: 0.8565
Epoch 67/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2828 - accuracy: 0.8707 - val_loss: 0.3297 - val_accuracy: 0.8583
Epoch 68/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2820 - accuracy: 0.8715 - val_loss: 0.3290 - val_accuracy: 0.8565
Epoch 69/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2823 - accuracy: 0.8701 - val_loss: 0.3305 - val_accuracy: 0.8564
Epoch 70/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2803 - accuracy: 0.8716 - val_loss: 0.3302 - val_accuracy: 0.8570
Epoch 71/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2811 - accuracy: 0.8711 - val_loss: 0.3310 - val_accuracy: 0.8558
Epoch 72/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2806 - accuracy: 0.8706 - val_loss: 0.3293 - val_accuracy: 0.8586
Epoch 73/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2808 - accuracy: 0.8710 - val_loss: 0.3315 - val_accuracy: 0.8557
Epoch 74/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2817 - accuracy: 0.8709 - val_loss: 0.3338 - val_accuracy: 0.8565
Epoch 75/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2810 - accuracy: 0.8712 - val_loss: 0.3362 - val_accuracy: 0.8558
Epoch 76/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2812 - accuracy: 0.8717 - val_loss: 0.3321 - val_accuracy: 0.8577
Epoch 77/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2802 - accuracy: 0.8723 - val_loss: 0.3349 - val_accuracy: 0.8564
Epoch 78/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2814 - accuracy: 0.8709 - val_loss: 0.3364 - val_accuracy: 0.8558
Epoch 79/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2780 - accuracy: 0.8713 - val_loss: 0.3320 - val_accuracy: 0.8574
Epoch 80/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2806 - accuracy: 0.8708 - val_loss: 0.3323 - val_accuracy: 0.8573
Epoch 81/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2779 - accuracy: 0.8719 - val_loss: 0.3351 - val_accuracy: 0.8580
Epoch 82/150
855/855 [==============================] - 4s 5ms/step - loss: 0.2792 - accuracy: 0.8720 - val_loss: 0.3332 - val_accuracy: 0.8557
Epoch 83/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2796 - accuracy: 0.8737 - val_loss: 0.3348 - val_accuracy: 0.8580
Epoch 84/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2777 - accuracy: 0.8728 - val_loss: 0.3313 - val_accuracy: 0.8545
Epoch 85/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2779 - accuracy: 0.8722 - val_loss: 0.3327 - val_accuracy: 0.8558
Epoch 86/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2777 - accuracy: 0.8729 - val_loss: 0.3331 - val_accuracy: 0.8543
Epoch 87/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2777 - accuracy: 0.8739 - val_loss: 0.3357 - val_accuracy: 0.8565
Epoch 88/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2778 - accuracy: 0.8734 - val_loss: 0.3335 - val_accuracy: 0.8542
Epoch 89/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2778 - accuracy: 0.8730 - val_loss: 0.3343 - val_accuracy: 0.8562
Epoch 90/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2775 - accuracy: 0.8735 - val_loss: 0.3299 - val_accuracy: 0.8558
Epoch 91/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2778 - accuracy: 0.8730 - val_loss: 0.3345 - val_accuracy: 0.8560
Epoch 92/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2760 - accuracy: 0.8721 - val_loss: 0.3376 - val_accuracy: 0.8560
Epoch 93/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2765 - accuracy: 0.8719 - val_loss: 0.3375 - val_accuracy: 0.8548
Epoch 94/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2787 - accuracy: 0.8727 - val_loss: 0.3361 - val_accuracy: 0.8565
Epoch 95/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2770 - accuracy: 0.8731 - val_loss: 0.3344 - val_accuracy: 0.8560
Epoch 96/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2766 - accuracy: 0.8740 - val_loss: 0.3331 - val_accuracy: 0.8574
Epoch 97/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2742 - accuracy: 0.8744 - val_loss: 0.3399 - val_accuracy: 0.8551
Epoch 98/150
855/855 [==============================] - 4s 5ms/step - loss: 0.2745 - accuracy: 0.8739 - val_loss: 0.3392 - val_accuracy: 0.8567
Epoch 99/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2734 - accuracy: 0.8740 - val_loss: 0.3445 - val_accuracy: 0.8565
Epoch 100/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2746 - accuracy: 0.8750 - val_loss: 0.3351 - val_accuracy: 0.8583
Epoch 101/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2760 - accuracy: 0.8733 - val_loss: 0.3402 - val_accuracy: 0.8571
Epoch 102/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2749 - accuracy: 0.8746 - val_loss: 0.3443 - val_accuracy: 0.8554
Epoch 103/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2765 - accuracy: 0.8743 - val_loss: 0.3465 - val_accuracy: 0.8552
Epoch 104/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2746 - accuracy: 0.8733 - val_loss: 0.3364 - val_accuracy: 0.8552
Epoch 105/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2760 - accuracy: 0.8743 - val_loss: 0.3377 - val_accuracy: 0.8562
Epoch 106/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2745 - accuracy: 0.8731 - val_loss: 0.3432 - val_accuracy: 0.8568
Epoch 107/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2746 - accuracy: 0.8737 - val_loss: 0.3490 - val_accuracy: 0.8558
Epoch 108/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2762 - accuracy: 0.8737 - val_loss: 0.3457 - val_accuracy: 0.8558
Epoch 109/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2739 - accuracy: 0.8763 - val_loss: 0.3473 - val_accuracy: 0.8573
Epoch 110/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2747 - accuracy: 0.8736 - val_loss: 0.3404 - val_accuracy: 0.8567
Epoch 111/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2707 - accuracy: 0.8751 - val_loss: 0.3480 - val_accuracy: 0.8580
Epoch 112/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2726 - accuracy: 0.8758 - val_loss: 0.3379 - val_accuracy: 0.8574
Epoch 113/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2689 - accuracy: 0.8765 - val_loss: 0.3493 - val_accuracy: 0.8587
Epoch 114/150
855/855 [==============================] - 4s 4ms/step - loss: 0.2752 - accuracy: 0.8751 - val_loss: 0.3468 - val_accuracy: 0.8577
Epoch 115/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2712 - accuracy: 0.8745 - val_loss: 0.3498 - val_accuracy: 0.8565
Epoch 116/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2742 - accuracy: 0.8743 - val_loss: 0.3473 - val_accuracy: 0.8565
Epoch 117/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2725 - accuracy: 0.8756 - val_loss: 0.3494 - val_accuracy: 0.8565
Epoch 118/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2743 - accuracy: 0.8758 - val_loss: 0.3454 - val_accuracy: 0.8576
Epoch 119/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2709 - accuracy: 0.8751 - val_loss: 0.3413 - val_accuracy: 0.8595
Epoch 120/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2720 - accuracy: 0.8753 - val_loss: 0.3428 - val_accuracy: 0.8589
Epoch 121/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2716 - accuracy: 0.8755 - val_loss: 0.3494 - val_accuracy: 0.8584
Epoch 122/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2711 - accuracy: 0.8772 - val_loss: 0.3495 - val_accuracy: 0.8568
Epoch 123/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2716 - accuracy: 0.8756 - val_loss: 0.3413 - val_accuracy: 0.8577
Epoch 124/150
855/855 [==============================] - 3s 3ms/step - loss: 0.2698 - accuracy: 0.8762 - val_loss: 0.3504 - val_accuracy: 0.8573
Epoch 125/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2724 - accuracy: 0.8749 - val_loss: 0.3438 - val_accuracy: 0.8551
Epoch 126/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2718 - accuracy: 0.8740 - val_loss: 0.3468 - val_accuracy: 0.8570
Epoch 127/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2715 - accuracy: 0.8750 - val_loss: 0.3530 - val_accuracy: 0.8567
Epoch 128/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2704 - accuracy: 0.8758 - val_loss: 0.3459 - val_accuracy: 0.8551
Epoch 129/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2737 - accuracy: 0.8740 - val_loss: 0.3526 - val_accuracy: 0.8558
Epoch 130/150
855/855 [==============================] - 4s 4ms/step - loss: 0.2722 - accuracy: 0.8757 - val_loss: 0.3503 - val_accuracy: 0.8590
Epoch 131/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2714 - accuracy: 0.8745 - val_loss: 0.3524 - val_accuracy: 0.8583
Epoch 132/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2692 - accuracy: 0.8763 - val_loss: 0.3480 - val_accuracy: 0.8574
Epoch 133/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2722 - accuracy: 0.8767 - val_loss: 0.3502 - val_accuracy: 0.8564
Epoch 134/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2706 - accuracy: 0.8765 - val_loss: 0.3522 - val_accuracy: 0.8568
Epoch 135/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2705 - accuracy: 0.8754 - val_loss: 0.3508 - val_accuracy: 0.8565
Epoch 136/150
855/855 [==============================] - 3s 4ms/step - loss: 0.2695 - accuracy: 0.8755 - val_loss: 0.3458 - val_accuracy: 0.8571
Epoch 137/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2705 - accuracy: 0.8772 - val_loss: 0.3496 - val_accuracy: 0.8573
Epoch 138/150
855/855 [==============================] - 2s 3ms/step - loss: 0.2678 - accuracy: 0.8775 - val_loss: 0.3515 - val_accuracy: 0.8560
Epoch 139/150

In [ ]:
model.save('modelo_rna.h5')

In [ ]:
# Guardar el scaler
import pickle
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)